<div class="container">
      <div class="row">
    	<div class="col-lg-3">

			<%= render 'users/list', user: @user, book_new: @book_new %>
		</div>

          <div class="col-lg-9">
          	<table class="table table-striped">
				<h1>Users</h1>
				<thead>
					<tr>
							<th>image</th>
							<th>name</th>
							<th></th>
							<th></th>
							<th></th>
					</tr>
				</thead>

				<tbody>

					<% @users.each do |user| %>

						<tr>
							<td><%= user.name %></td>
							<td><%= link_to 'show',user_path(user) %></td>
						</tr>

					<% end %>
				</tbody>

			</table>
		</div>
	</div>
</div>