<div class="container">
      <div class="row">
    	<div class="col-lg-3">

			<%= render 'users/list', user: @user, book_new: @book_new %>
		</div>

          <div class="col-lg-9">
          	<table class="table table-striped">
				<h1>Books</h1>
				<thead>
					<tr>
							<th>Title</th>
							<th>opinion</th>
							<th></th>
							<th></th>
							<th></th>
					</tr>
				</thead>

				<tbody>

					<% @books.each do |book| %>

						<tr>
							<td><%= book.title %></td>
							<td><%= book.body %></td>
						</tr>

					<% end %>
				</tbody>

			</table>
		</div>
	</div>
</div>