<h1>Title</h1>
<%= @book.title %>
<h1>body</h1>
<%= @book.body %>

<% if flash[:notice] %>
    <div class="flash">
      <% flash[:notice] %>
    </div>
    <% end %>

<%= link_to "Edit", edit_book_path(@book.id) %>
<%= link_to "Back", new_book_path %>