<h1 class="top-headline"> welcome to <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bookers  !!</h1>

<p>in <span class="glyphicon glyphicon-file" aria-hidden="true">bookers</span</p>

<p class="top-head-text">you can share and exchange you opinions,inpressions,and emotions<br>about varioius books!

<p><%= link_to "Log in", new_user_session_path %></p>
<p><%= link_to "Sign Up", new_user_registration_path %></p>
<p><%= link_to "log out", destroy_user_session_path , method: :delete %></p>
