<h1 class="top-headline">
	welcom to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers  !!
</h1>
<p>in <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Bookers,</p>
<p>
	you can share and exchange your opinions,and emotions<br>about varioius books!
</p>
<p><%=link_to "log in", new_user_session_path %> </p>
<p><%=link_to "sign Up", new_user_registration_path %></p>
