// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

clearfix::after {
  content: "";
  display: block;
  clear: both;
}
header{
	width: 100%;
	height: 50px;
	background-color: black;
}
.headline{
	float: left
}
.nav navbar-nav navbar-righ{
	float: left
}



